<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ template "_internal/schema.html" . }}
{{ partial "meta/opengraph" . }}
{{ partial "meta/twitter" . }}
{{ partial "meta/icons" . }}
{{ partial "meta/seo-schema" . }}
