{{- /* https://gohugo.io/templates/internal/#open-graph */ -}}
{{- /* https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/opengraph.html */ -}}
<!-- OpenGraph -->
{{ template "_internal/opengraph.html" . }}
<meta property="og:site_name" content="{{ cond .IsHome .Site.Params.motto .Site.Params.name }}"/>
<meta property="og:creator" content="{{ .Params.creator | default .Site.Params.name }}"/>
{{ if and (.IsPage) (intersect (slice .Section) .Site.Params.enableBlogSchema) -}}
<meta property="og:type" content="article"/>
{{ with .Date }}<meta property="article:published_time" content="{{ . }}"/>{{ end }}
<meta property="article:author" content="{{ .Params.author | default .Site.Params.name }}"/>
<meta property="article:publisher" content="{{ .Params.publisher | default .Site.Params.name }}"/>
{{ if isset .Params "keywords" }}{{ range .Params.keywords -}}
<meta property="article:tag" content="{{ . }}"/>
{{ end }}{{ end }}
{{ else }}
<meta property="og:type" content="website"/>
{{ end }}
{{ with .Resources.GetMatch "featured" }}{{ partial "meta/opengraph-image" . }}{{ end }}
{{ with resources.GetMatch .Site.Params.logo }}{{ partial "meta/opengraph-image" . }}{{ end }}
