<meta property="og:image" content="{{ .Permalink }}"/>
{{- if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") -}}
<meta property="og:image:width" content="{{ .Width }}"/>
<meta property="og:image:height" content="{{ .Height }}"/>
{{- end -}}
<meta property="og:image:alt" content="{{ .Title }}"/>
