<meta property="twitter:image" content="{{ .Permalink }}"/>
{{- if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") -}}
<!-- <meta property="twitter:image:width" content="{{ .Width }}"/>
<meta property="twitter:image:height" content="{{ .Height }}"/> -->
{{- end -}}
<meta property="twitter:image:alt" content="{{ .Title }}"/>
