@import "variables";

hr {
  margin: $space 0;
  border: 0;
  border-top: 1px solid $greyTableBorder;
}

body main {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media screen and (max-width: 799px) {
    padding-top: calc(#{$burgerContainerHeight} + #{$space});
  }
}

.center {
  text-align: center;
}

// Home
main .splash-container {
  // width: 100%;
  @media screen and (max-width:800px) {
    align-items: baseline;
  }
  .splash {
    padding: 0 $space;
    @media screen and (max-width:420px) {
      // margin-top: $burgerContainerHeight;
    }
    // Homepage logo
    & > .logo-image {
      float: left;
      top: .8rem;
      margin: $space;
      margin-left: 0;
      @media screen and (max-width:420px) {
        float: none;
        margin: .5rem auto;
      }
    }
    h1 {
      padding-top: $space;
    }
    h2 {
      clear: both;
    }
    .splash-content {
      max-width: $medium;
      align-items: center;
      a {
        display: inline-block !important;
        font-size: .8rem;
        margin: .25rem 0;
      }
      p {
        margin-top: 0;
        text-align: center;
      }
      ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
      }
    }
  }
  @media screen and (min-width:800px) {
    .splash {
      .splash-content {
        display: flex;
        p {
          flex: 2;
        }
        ul {
          flex: 1;
	  // text-align: right;
        }
      }
    }
  }
}

// Carte
.map-container {
  // @extend .splash-container;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  margin-top: -$space;
  .map {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 $space;
    h1 {
      display: none;
      // margin: 0;
      // @media screen and (min-width:800px) {
      //   display: block;
      //   padding-top: $space;
      // }
    }
    iframe#map {
      display: block;
      margin: 0;
      width: 100%;
      height: 80%;
      height: calc(100vh - #{$space} - 140px);
      min-height: 300px;
    }
  }
  @media screen and (min-width:800px) {
    margin-top: -3rem; // -$space / 2;
    .map {
      iframe#map {
        height: calc(100vh - #{$space} - 96px);
        padding-top: .5rem;
      }
    }
  }
}

.circle-image {
  position: relative;
  width: 88px;
  min-width: 88px;
  height: 88px;
  &.circle-small {
    width: 44px;
    min-width: 44px;
    height: 44px;
    margin-top: -$space / 5;
  }
  border-radius: 50%;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    max-width: none !important;
  }
}

// Links
a {
  transition: .3s;
  &.image-link,
  &.icon-link,
  &.item-link,
  &.post-link {
    &:active,
    &:focus,
    &:hover {
      opacity: .8;
      // color: #717171;
    }
  }
  &.btn {
    // @extend .tag__link;
    display: inline-block;
    text-decoration: none;
    padding: $tagPadding;
    border-radius: 3px;
    font-size: .8rem;
    line-height: $space;
    &.btn-green {
      color: darken($primary, 13%);
      background-color: lighten($primary, 50%);
      &:active,
      &:focus,
      &:hover {
        color: darken($primary, 11%);
        background-color: lighten($primary, 52%);
      }
    }
    &.btn-grey {
      @extend .grey !optional;
      &:active,
      &:focus,
      &:hover {
        color: $darkGrey;
        background-color: $white;
      }
    }
  }
  // Center partner icons (not circle image)
  .post__content ul.partner-list li &.item-link {
    display: table-cell;
    vertical-align: middle;
  }
}

.social.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: .5rem (-$space);
  .icon-link {
    margin: 0 .5rem;
    padding: .5rem;
  }
}

// SVG icon with background-image
.icon {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

// Mobile navigation
nav.nav {
  align-items: baseline;
  margin-top: $burgerContainerHeight;
  padding: $space 0;
  overflow: auto;
  z-index: 2;
  .nav-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  @media screen and (min-width:800px) {
    margin-top: $space;
  }
}
.burger__container {
  justify-content: space-between;
  .breadcrumb {
    @media screen and (max-width:420px) {
      display: none;
    }
  }
  .top-right {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    .btn {
      margin-right: $space;
    }
  }
  & .burger {
    text-indent: -9999px
  }
}

// Desktop navigation
@media screen and (min-width:800px) {
  nav.nav {
    .nav-img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  body .burger__container {
    display: flex;
    width: auto;
    right: 0;
    justify-content: flex-end;
    background-color: transparent;
    & .burger {
      display: none;
    }
  }
}

// ul, ol
.grey {
  color: $grey;
  background-color: $lightGreyBackground;
}
.breadcrumb {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-right: 1rem;
  font-size: .8rem;
  li {
    &:first-child,
    &:last-child {
      display: none;
    }
    &:not(:last-child) {
      margin-right: .5rem;
    }
    a {
      @extend .btn.btn-grey !optional;
    }
  }
}

// Common
.post {
  .post__header {
    display: flex;
    & > .featured-image {
      margin-right: $space;
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}

.post-subtitle {
  @extend .post__date !optional;
}

footer {
  margin-top: auto;
  p {
    margin-top: 0;
    margin-bottom: $space / 2;
    text-align: center;
    color: $grey;
    font-size: .65rem;
    a {
      color: $grey;
      &:hover {
        color: darken($grey, 20%);
      }
    }
  }
}

// List
.post-title {
  margin: 0 0 $space / 3;
}
.post-list__container {
  .post-list {
    margin-top: $space;
    width: 100%;
    .post {
      .post__header .tags__list {
        // Always show tags in post list
        display: block;
        .tag__item {
          margin-right: 0;
	  a {
            margin-top: $space / 3;
            margin-right: $space / 3;
            @extend .btn.btn-grey;
          }
        }
      }
    }
  }
  & > .tags__list {
    padding-top: $space;
  }
}

// Single
.post__container {
  .post__header .tags__list {
    margin-top: $space / 3;
    .tag__item a.tag__link {
      font-size: small;
    }
  }
  // Date and subtitle separator
  .post-subtitle + .post-subtitle {
    &::before {
      content: '—';
      margin-left: .3rem;
      margin-right: .5rem;
    }
  }
  // Post image
  .post :not(.figure):not(.circle-image) > img {
    margin: $space auto;
  }
  .figure {
    margin: $space auto;
    .caption {
      color: $grey;
      font-size: small;
      margin: .5rem auto 0;
      max-width: 500px;
      text-align: center;
    }
  }
  // Tags
  .tags__list {
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
    padding: 0;
    .tag__item {
      margin: .5rem;
      .tag__link {
        @extend .btn.btn-green;
      }
    }
  }
  .skills .tags__list {
    justify-content: center;
    a.tag__link {
      @extend .btn.btn-grey !optional;
    }
    li.tag__item::before {
      content: '';
    }
  }
  iframe#map {
    width: 100%;
    // height: 255px;
    margin-top: $space;
  }
  .post__footer {
    padding-top: $space;
  }
}

// Table of contents
.flex-wrapper {
  padding-bottom: $space;
  .toc-container {
    padding-top: $space;
  }
}

// Author list
ul.author-list {
  display: inline-block;
  list-style-type: none;
  margin: $space 0 0;
  padding-left: 0;
  li {
    a.author-link {
      display: flex;
      padding: .5rem;
      margin-bottom: $space;
      color: $black;
      text-decoration: none;
      transition: .3s;
      &:active,
      &:focus,
      &:hover {
        background-color: $lightGrey;
      }
      .author-image {
        margin-right: 1rem;
      }
      .author-name {
        line-height: 2.2rem;
        font-weight: 700;
      }
    }
  }
}

.department {
  font-weight: normal;
  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.post__content {
  ul.partner-list {
    list-style-type: none;
    margin-top: $space;
    margin-bottom: $space;
    margin-right: -$space;
    margin-left: -$space;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li {
      // display: inline-block;
      margin: .5rem $space;
      &::before {
        // Disable post content list style
        content: none;
      }
      a {
        display: block;
        width: 88px;
        height: 88px;
      }
    }
  }
  iframe {
    margin-top: $space;
  }
}
