// The primary accent color used throughout the site
$primary: #3bb42b; // #9013fe;

// Custom variables
$space: 1.5rem;
$tagPadding: .2em .8em;
$lightGreyBackground: #f6f9fc;

// ./themes/codex/assets/scss/partials/_vars.scss
$navWidth: 100px;
$meatWidth: 28px;
$meatHeight: 2px;
$burgerContainerHeight: 4rem;

// colors
$black: #111;
$lightGrey: #f7f7f7;
$greyTableBorder: #eee;
$grey: darken(#767676, 5%); // #9b9b9b;
$darkGrey: darken($grey, 20%); // #717171;
$white: #fff;

// screenSizes
$medium: 800px;
$large: 1400px;
