{{ define "styles" }}
  {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/post.scss" "dest" "css/post.css") }}
{{ end }}

{{ define "scripts" }}
  {{ if .Params.prism -}}
  {{/* Hardcode a specific prismjs version to avoid a redirect on every page load. */}}
  <script src="https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js"></script>

  {{/* Automatically loads the needed languages to highlight the code blocks. */}}
  <script src="https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"
    data-autoloader-path="https://unpkg.com/prismjs@1.20.0/components/"></script>
  {{- end }}

  {{ if .Params.toc -}}
  {{ partial "script" (resources.Get "js/table-of-contents.js") }}
  {{- end }}
{{ end }}

{{ define "main" }}
{{- $author := .Params.author | default .Site.Author.name -}}
<div class="flex-wrapper">
  <div class="post__container">
    <div class="post">
      <header class="post__header">
        {{- $placeholder := (site.GetPage (print "/" .Page.Section)).Params.placeholder -}}
        {{- $img := .Resources.GetMatch "featured" -}}
        {{- if and (not $img) $placeholder -}}
          {{- $img = resources.Get $placeholder -}}
        {{- end -}}
        {{ with $img -}}
        <div class="featured-image circle-image">
          {{ if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") -}}
            {{ $img = .Fit $.Site.Params.size }}
          {{- end }}
          {{ partial "image" (dict "src" $img.RelPermalink "alt" .Title) }}
        </div>
        {{- end }}
        <div class="">
          <h1 id="post__title">
            {{ .Title }}
            {{ with .Params.department }}<span class="department">{{ . }}</span>{{ end }}
          </h1>
          {{ with .Params.participants }}{{ if gt . 0 -}}
          <span class="post-subtitle">{{ . }} ⛹</span>
          {{- end }}{{ end }}
          {{ with .Date }}<span class="post-subtitle">{{ partial "date" . }}</span>{{ end }}
          {{ with $author -}}
          <span class="post-subtitle">{{ . }}</span>
          {{- end }}
          {{ with .Params.subtitle -}}
          <span class="post-subtitle">{{ safeHTML . }}</span>
          {{- end }}
        </div>
      </header>

      {{ partial "tags" . }}

      <article class="post__content">
        {{ partial "anchored-headings" .Content }}
        {{ range .Pages }}
            {{ partial "anchored-headings" .Content }}
        {{ end }}
      </article>

      {{ with .Params.cantons }}{{ partial "authors" (dict "List" . "Taxo" "cantons") }}{{ end }}

      {{ partial "post-pagination" . }}
    </div>
  </div>
  {{ if .Params.toc }}
  <div class="toc-container">
    {{ if .Site.Params.showPageTitleInTOC }} <div class="toc-post-title">{{ .Title }}</div> {{ end }}
    {{ .TableOfContents }}
  </div>
  {{ end }}
</div>
{{ partial "footer" . }}
{{ end }} 
