{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "scripts" }}
{{- $targetPath := "js/vars.js" -}}
{{- $vars := printf "var hostName = '%s'; var groupName = '%s';" site.Social.mobilizon_host site.Social.mobilizon -}}
{{ with $vars | resources.FromString $targetPath }}{{ partial "script" . }}{{ end }}
{{ partial "script" (resources.Get "js/mobilizon.js") }}
{{ end }}

{{ define "main" }}
<div class="post-list__container">
  <div>
    {{ with .Title }}<h1 class="post-title">{{ . }}</h1>{{ end }}
    {{ with .Params.subtitle }}<span class="post-subtitle">{{ safeHTML . }}</span>{{ end }}
    <article class="post__content">
      {{ .Content }}
    </article>
    <ul class="post-list" id="mobilizon">
    </ul>
  </div>
</div>
{{ partial "footer" . }}
{{ end }}
