{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="map-container">
  <div class="map">
    <h1>{{ .Params.title }}<span class="fancy">.</span></h1>
    {{ .Content }}
    {{ partial "footer" . }}
  </div>
</div>

{{ end }}
