<!DOCTYPE html>
<html lang="{{ .Params.locale | default .Site.Language.Lang }}">

<head>
  {{ partial "meta/head" . }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="manifest" href="/manifest.json">

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ if eq .Kind "term" }}{{ i18n (print "all_" .Params.taxo) (dict "Count" 1) }} : {{ end }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ cond .IsHome .Site.Params.Description (.Page.Params.Description | default .Site.Params.Description) }}">
  <meta name="language" content="{{ .Site.Language.Lang }}">
  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  {{ with .Site.Params.color }}<meta name="theme-color" content="{{ . }}">{{ end }}

  <!-- Styles -->
  {{ block "styles" . }}{{ end }} <!-- Get "style_opts" variable from "styles" block -->
  {{ partial "meta/links" . }}
  {{ block "links" . }}{{ end }}
</head>

<body>
  {{ partial "burger" . }}

  {{ partial "nav" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ block "footer" . }}{{ end }}

  <!-- Scripts -->
  {{ partial "script" (resources.Get "js/index.js") }}
  {{ block "scripts" . }}{{ end }}
</body>

</html>
