{{ define "styles" }}
  {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}
<div class="post-list__container">
  <div>
    {{ with .Title }}<h1 class="post-title">{{ . }}</h1>{{ end }}
    {{ with .Params.subtitle }}<span class="post-subtitle">{{ safeHTML . }}</span>{{ end }}
    {{ .Content }}
    <ul class="post-list">
      {{ range .Pages }}{{ $page := . }}
      <li class="post">
        <div class="post__header">
          {{- $placeholder := $.Params.placeholder -}}
          {{- $img := .Resources.GetMatch "featured" -}}
          {{- if and (not $img) $placeholder -}}
            {{- $img = resources.Get $placeholder -}}
          {{- end -}}
          {{ with $img -}}
          <a class="image-link featured-image circle-image" href="{{ $page.RelPermalink }}">
            {{ if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") -}}
              {{ $img = .Fit $.Site.Params.size }}
            {{- end }}
            {{ partial "image" (dict "src" $img.RelPermalink "alt" .Title) }}
          </a>
          {{- end }}
          <div class="">
            {{ with .Date }}{{ partial "date.html" . }}{{ end }}
            <h2 class="post__title">
              <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            {{ partial "tags" . }}
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ partial "browse-by-tag.html" . }}
</div>
{{ partial "footer" . }}
{{ end }}
