<ul class="author-list">
  {{ range .List -}}
  {{ $canton := site.GetPage (printf "/%s/%s" $.Taxo .) -}}
  {{ if $canton.RelPermalink -}}
  <li>
    <a class="author-link" href="{{ $canton.RelPermalink }}">
      {{ with $canton.Resources.GetMatch "featured" }}
      <div class="author-image circle-image circle-small">
        {{ $img := .Fit site.Params.size }}
        {{ partial "image" (dict "src" $img.Permalink "alt" .Title) }}
      </div>
      {{ end }}
      <span class="author-name">
        {{ $canton.Title }}
        {{ with $canton.Params.department }}<span class="department">{{ . }}</span>{{ end }}
      </span>
    </a>
  </li>
  {{- end }}
  {{- end }}
</ul>
