{{- $taxo := or .Params.taxo "tags" -}}
<ul class="tags__list">
  {{ range $tag, $value := index $.Site.Taxonomies $taxo }}
  <li class="tag__item">
    <a class="tag__link" href="{{ printf "/%s/" $taxo | relLangURL }}{{ $tag | urlize }}/">{{ $tag }} ({{ len $value }})</a>
  </li>
  {{ end }}
</ul>
