<div class="burger__container">
  <div class="burger" aria-haspopup="true" aria-controls="navigation">
    Menu
    <div class="burger__meat burger__meat--1"></div>
    <div class="burger__meat burger__meat--2"></div>
    <div class="burger__meat burger__meat--3"></div>
  </div>
  {{ partial "breadcrumb" . }}
  <div class="top-right">
    {{ with .Site.Params.Message -}}
    {{ partial "link" (dict "Text" .text "Link" .link "Target" .target "Class" "btn btn-green") }}
    {{- end }}
    {{- $icons := cond (isset .Params "icons") .Params.icons .Site.Params.icons -}}
    {{ partial "icon-list" (dict "Icons" $icons "URL" .RelPermalink) }}
  </div>
</div>
