<footer>
  {{ partial "social-icons" . }}
  <p>
    {{ safeHTML (replace site.Copyright "{year}" now.Year) }}
    —
    <a href="/mentions-legales/">Mentions</a>
    —
    {{ partial "cloak" (dict "address" "contact@cantons.info" "text" "Contact") }}
  </p>
</footer>
