<ul class="partner-list">
{{- range . -}}
  <li>
    <a class="item-link" href="{{ .url }}" target="_blank" rel="noreferrer noopener" title="{{ .title }}">
      {{ partial "image" (dict "src" .src "alt" .title) }}
    </a>
  </li>
{{- end -}}
</ul>
