<nav class="nav">
  <ul class="nav__list" id="navigation" role="menu" aria-labelledby="menubutton">
    {{- range .Site.Menus.main -}}
    <li role="none">
      <a href="{{ .URL }}"{{ if or ($.IsMenuCurrent "main" .) (eq $.Section .Identifier) }} class="active"{{end}} role="menuitem">
      {{ if .Params.Image -}}{{ with resources.Get .Params.Image -}}
        {{- $img := .Fit "152x152" -}}
        {{- partial "image" (dict "src" $img.RelPermalink "alt" .Name "title" .Title "class" "nav-img") -}}
      {{- end }}{{- else -}}
        {{ .Name }}
      {{- end }}
      </a>
    </li>
    {{- end -}}
  </ul>
</nav>
