{{- $taxo := "partenaires" -}}
<ul class="partner-list">
{{- range $page := where site.Pages "Section" $taxo -}}
  {{- with .Resources.GetMatch "featured" -}}
  {{- $img := . -}}
  {{- $title := .Title | default $page.Title -}}
  <li>
    <a class="item-link" href="{{ $page.Params.link | default $page.RelPermalink }}" target="_blank" rel="noreferrer noopener" title="{{ $title }}">
      {{ if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") -}}
        {{ $img = .Fit $.Site.Params.size }}
      {{- end }}
      {{ partial "image" (dict "src" $img.RelPermalink "alt" $title) }}
    </a>
  </li>
  {{- end -}}
{{- end -}}
</ul>
