{{ if and (intersect (slice .Page.Type) .Site.Params.enablePagination) (or .PrevInSection .NextInSection) }}
<div class="pagination">
  {{if .PrevInSection}}
    <a class="pagination__item" href="{{.PrevInSection.Permalink}}">
        <span class="pagination__label">{{ i18n "prev_post" }}</span>
        <span class="pagination__title">{{.PrevInSection.Title}}</span>
    </a>
  {{end}}

  {{if .NextInSection}}
    <a class="pagination__item" href="{{.NextInSection.Permalink}}">
      <span class="pagination__label">{{ i18n "next_post" }}</span>
      <span class="pagination__title" >{{.NextInSection.Title}}</span>
    </a>
  {{end}}
</div>
{{ end }}
