{{ $taxo := "competences" }}
{{ with $.Param $taxo }}
<ul class="tags__list">
    {{ range $index, $tag := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo (urlize $tag)) -}}
    <li class="tag__item">
        <a class="tag__link" href="{{ .Permalink }}">{{ $tag }}</a>
    </li>
    {{- end -}}
  {{- end -}}
</ul>
{{ end }}
