{{ define "main" }}
<div class="splash-container">
  <div class="splash">
    <h1>
      {{ i18n "not_found" }}<span class="fancy">.</span>
      <br>
      <br>
      <center>🚸</center>
    </h1>
    <br>
    <div class="center">
      <a href="/" class="btn btn-grey">{{ i18n "back_home" }}</a>
    </div>
    <hr>
    {{ partial "footer" . }}
  </div>
</div>
{{ end }}
