{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}
<div class="splash-container">
  <div class="splash">
    {{ with resources.Get .Site.Params.logo -}}
    <div class="logo-image circle-image">
      {{- $img := .Fit $.Site.Params.size -}}
      {{- partial "image" (dict "src" $img.RelPermalink "alt" .Title) -}}
    </div>
    {{- end }}
    <h1>{{ .Params.title }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" -}}
    <span class="handle">{{ .Params.handle }}</span>
    {{- end }}
    <h2>
      {{- safeHTML .Params.subtitle -}}
    </h2>
    <hr>
    <div class="splash-content">
      <p>{{ .Site.Params.Description }}</p>
      {{ .Content }}
    </div>
    <hr>
    {{ partial "footer" . }}
  </div>
</div>
{{ end }}
