{{ define "styles" }}
  {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/tags.scss" "dest" "css/tags.css") }}
{{ end }}

{{ define "main" }}
{{- $taxo := or .Params.taxo "tags" -}}
<div class="post-list__container">
  <div>
    <div class="tag__header">
      <a href="/{{ $taxo }}/">{{ i18n (print "all_" $taxo) (dict "Count" 1) }}</a><span class="separator">/</span>
      <h1 class="tag__term">{{ .Title }}</h1>
    </div>
    <ul class="post-list">
      {{ range .Data.Pages }}{{ $page := . }}
      <li class="post">
        <div class="post__header">
          {{- $placeholder := (site.GetPage (print "/" .Page.Section)).Params.placeholder -}}
          {{- $img := .Resources.GetMatch "featured" -}}
          {{- if and (not $img) $placeholder -}}
            {{- $img = resources.Get $placeholder -}}
          {{- end -}}
          {{ with $img -}}
          <a class="image-link featured-image circle-image" href="{{ $page.RelPermalink }}">
            {{ if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") -}}
              {{ $img = .Fit $.Site.Params.size }}
            {{- end }}
            {{ partial "image" (dict "src" $img.RelPermalink "alt" .Title) }}
          </a>
          {{- end }}
          <div class="">
            {{ with .Date }}{{ partial "date.html" . }}{{ end }}
            <h2 class="post__title">
              <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            {{ partial "tags" . }}
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ partial "browse-by-tag.html" . }}
</div>
{{ partial "footer" . }}
{{ end }}
