{{- $src := .Get "src" | default (.Get 0) -}}
{{- $alt := .Get "alt" | default (.Get 1) -}}
{{- $caption := .Get "caption" | default (.Get 2) -}}
<figure class="figure">
{{ partial "image" (dict "src" $src "alt" $alt) }}
{{ with $caption }}<figcaption class="caption">{{ safeHTML . }}</figcaption>{{ end }}
</figure>
