{{- $host := .Get "host" | default (.Get 0) -}}
{{- $id := .Get "id" | default (.Get 1) -}}
{{- $class := .Get "class" | default (.Get 2) -}}
{{- $title := .Get "title" | default "PeerTube Video" }}
<div {{ with $class }}class="{{ . }}"{{ else }}style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"{{ end }}>
  <iframe src="https://{{ $host }}/videos/embed/{{ $id }}{{ with .Get "autoplay" }}{{ if eq . "true" }}?autoplay=1{{ end }}{{ end }}" {{ if not $class }}style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" {{ end }}allowfullscreen title="{{ $title }}"></iframe>
</div>
